/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eee;}
.full-width{
    width: 100%;
    .mat-form-field-flex{
        background-color: #f8f8f8 !important;
        color: #000 !important;
        line-height: 2;
    }
    .search-icon{
        color: #000;
        cursor: pointer;
    }
}
